<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.cjk.ftp.mapper.UserHeadPicMapper">
<insert id="updateUserHeadPic" >
  insert into ftp_user_pic (uid,head_pic) values (#{uid},#{filePath})
</insert>
</mapper>